@font-face {
  font-family: sarlotte;
  src: url("../assets/Sarlotte.otf");
}

.activities-page {
  padding: 15px;
  font-family: sarlotte;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.activities-page h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(17, 58, 146);
  margin-bottom: 30px;
  padding: 25px;
}

.category-container {
  border-color: transparent;
  background-color: transparent;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 25px;
  border-radius: 20px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(122, 122, 122, 0.1),
    0 12px 24px rgba(0, 0, 0, 0.1), 0 16px 32px rgba(122, 122, 122, 0.1),
    0 20px 40px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.category {
  width: 100%;
  margin-bottom: 20px;
}

.category-name {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.category-container:hover {
  border-color: #007074;
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
}

.option-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 3px solid #4794ff;
  border-radius: 100px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.option-button:hover {
  border-color: #007074;
  cursor: pointer;
  transform: scale(1.1);
}
.option-button.selected {
  color: rgb(26, 101, 81);
  border-color: #006b30;
  border-width: 3px;
  border-radius: 11px;
}

.option-icon {
  font-size: 1.2em;
  color: rgb(57, 98, 188);
}
.option-icon.selected {
  color: rgb(26, 101, 81);
}
.options-container.button span {
  border-radius: #ff6347;
  margin-left: 5px;
}

.option-name {
  font-size: 14px;
}
