body {
  height: 100vh;
}
.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 80px;
  background: #fff;
  padding-bottom: 30px;
  width: 600px;
  border-radius: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text {
  color: #5aacff;
  font-size: 30px;
  font-weight: 500;
}

.underline {
  width: 61px;
  height: 6px;
  background: #4169e1;
  border-radius: 9px;
}

.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #eaeaea;
  border-radius: 6px;
}

.input img {
  margin: 0px 30px;
}

.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.user-icon {
  width: 19px;
}

.password-icon {
  width: 21px;
}

.email-icon {
  width: 19px;
}

.eye-icon {
  width: 15px;
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #797979;
  background: #4169e1;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 300;
  cursor: pointer;
}

.submit:hover {
  color: black;
  background-color: #265cff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

.action-button {
  margin-top: 50px;
}

.back-button {
  color: rgb(254, 117, 190);
}
.back-button:hover {
  color: deeppink;
}
