body{
    height: 100vh;
    /* background: linear-gradient(#fff5ff, rgb(239, 83, 133)); */
}
.sign-up-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 80px;
    background: #fff;
    padding-bottom: 30px;
    width: 600px;
    border-radius: 8px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: rgb(242, 38, 157);
    font-size: 30px;
    font-weight: 500;
}

.underline{
    width: 61px;
    height: 6px;
    background: rgb(242, 38, 157);
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.user-icon{
    width: 19px;
}

.password-icon{
    width: 21px;
}

.email-icon{
    width: 19px;
}

.eye-icon{
    width: 15px;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: rgb(242, 38, 157);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 300;
    cursor: pointer;
}

.submit:hover{
    color: black;
    background-color: red;
}

.gray{
    background: #eaeaea;
    color: #676767;
}

.action-button{
    margin-top: 50px;
}

.back-button{
    color: rgb(254, 117, 190);
}
.back-button:hover{
    color: deeppink;
}

/* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#e05ba2, rgb(255, 194, 213));
}

.back-button{
    gap: 10px;
}

.loginContainer{
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
}

.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.signin-signup{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}
.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.loginForm.sign-up-form{
    opacity: 0;
    z-index: 1;
}

.loginForm.sign-in-form{
    z-index: 2;
}

.title{
    font-size: 2.2rem;
    color: rgb(242, 38, 157);
    margin-bottom: 10px;
}

.input-field{
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field .i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}

.input-field .LoginInput{
    background-color: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field .LoginInput::placeholder{
    color: #aaa;
    font-weight: 500;
}

.button{
    width: 150px;
    background-color: #fd59a3;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}
.button:hover{
    background-color:rgb(242, 38, 157);
}

.panels-container{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
}

.left-panel{
    pointer-events: all;
    padding: 3rem 12% 2rem 17%;
}

.right-panel{
    pointer-events: none;
    padding: 3rem 17% 2rem 12%;
}

.panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
}

.panel .loginh3{
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel .loginp{
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.button.transparent{
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content{
    transform: translateX(800px)
}

.loginContainer:before{
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #ff69b4 0%, #ffe6e6 100%);
}

.user-icon{
    width: 19px;
}

.password-icon{
    width: 21px;
}

.email-icon{
    width: 19px;
}

.eye-icon{
    width: 15px;
}

.image{
    width: 100%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
}

/* ANIMATION */

/* .loginContainer.signup-mode:before {
    transform: translate(100%, -50%);
    right: 52%
}

.loginContainer.signup-mode .left-panel .image,
.loginContainer.signup-mode .left-panel .content{
    transform: translateX(-800px);
}

.loginContainer.signup-mode .signin-signup{
    left: 25%;
}

.loginContainer.signup-mode .loginForm.sign-up-form{
    opacity: 1;
    z-index: 2;
}

.loginContainer.signup-mode .loginForm.sign-in-form{
    opacity: 0;
    z-index: 1;
}

.loginContainer.signup-mode .right-panel .image,
.loginContainer.signup-mode .right-panel .content{
    transform: translateX(0%);
}

.loginContainer.signup-mode .left-panel{
    pointer-events: none;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: rgb(242, 38, 157);
    font-size: 30px;
    font-weight: 500;
}

.underline{
    width: 61px;
    height: 6px;
    background: rgb(242, 38, 157);
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}


.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: rgb(242, 38, 157);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 300;
    cursor: pointer;
}

.gray{
    background: #eaeaea;
    color: #676767;
} */ 