.side-bar-container {
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  text-decoration: none;
}

.nav-menu {
  background-color: #022688;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  padding: 10px 0;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  color: #4169e1;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-menu a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: none;
  width: 100%;
  height: 88px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.item-title {
  margin-left: 16px;
  color: #fff;
  text-decoration: none;
}
