@font-face {
  font-family: peach;
  src: url("../assets/DraftCartoon-Bold.ttf");
}

@font-face {
  font-family: mood-font;
  src: url("../assets/Branquignol.ttf");
}

.mood-entry {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

.mood {
  background: none;
  border: none;
  cursor: pointer;
}

.prompt-container {
  background-color: #d8eefe;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  margin-top: -15px;
}

#prompt {
  font-size: 50px;
  font-weight: 400;
  font-style: bold;
  color: #007bff;
  font-family: peach;
  margin-top: 0;
  margin-bottom: 10px;
}

.back-button {
  top: 0;
  left: 0;
  color: rgb(51, 49, 49);
  background-color: transparent;
  border: 1px solid #0535c4;
  border-radius: 70px;
}

.back-button:hover {
  color: red;
  border: 2px solid #0535c4;
}

.mood-options {
  display: flex;
  justify-content: space-around;
  margin: 100px 0;
}

.mood-and-activities {
  padding-left: 12px;
}

.mood-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: mood-font;
  margin: 10px;
  color: rgb(44, 114, 172);
}

.mood-button:hover {
  border: none;
  color: rgb(15, 96, 189);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  transform: scale(1.1);
}

.mood-button.selected {
  color: navy;
}

.mood-button span {
  font-size: 24px;
  margin-top: 10px;
}

.submit-button {
  margin-top: 120px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: darkcyan;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3 ease;
}

.submit-button:hover {
  background-color: rgb(63, 63, 255);
}

.success-message {
  margin-top: 50px;
  color: green;
  opacity: 3;
  transition: opacity 0.5s;
}

.error-message {
  color: red;
  margin-top: 50px;
}
