.recommendations-page {
  padding: 20px;
}

.recommendations-page h1 {
  text-align: center;
  color: rgb(0, 115, 255);
  margin-bottom: 20px;
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.recommendation-item {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  color: rgb(6, 88, 88);
  border-radius: 5px;
  font-size: 1 1 300px;
  display: flex;
  align-self: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.recommendation-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.recommendations-error-message {
  text-align: center;
  align-items: center;
  color: red;
}

.recommendations-page.shifted {
  margin-left: 255px;
  transition: margin-left 0.3s ease-in-out;
}
