@font-face {
  font-family: message-font;
  src: url("../assets/DraftCartoon-Bold.ttf");
}
.recommendations-page {
  padding: 50px;
}

.recommendations-page h1 {
  font-family: message-font;
  font-size: 50px;
  text-align: center;
  color: rgb(0, 115, 255);
  margin-bottom: 20px;
}

.recommendations-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 35px;
  background-color: #f0f0f0;
  height: 500px;
  border-radius: 10px;
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.recommendation-item {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  color: rgb(2, 55, 120);
  border-radius: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1 1 300px;
  display: flex;
  align-self: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.recommendation-item:hover {
  cursor: pointer;
}

.recommendations-error-message {
  text-align: center;
  align-items: center;
  color: red;
}

.recommendations-page.shifted {
  margin-left: 255px;
  transition: margin-left 0.3s ease-in-out;
}

.share-location-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: rgb(42, 113, 200);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.share-location-button:hover {
  background-color: rgb(0, 95, 215);
  color: aliceblue;
}
